<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Chi tiet san pham</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css') }}">

</head>
<body>
  <h1 class="subject">Chi tiet san pham</h1>
  <div class="container flex">
       <div>
           <img src="{{ url_for('static', filename=product.image) }}"  alt="{{product.name}}">

       </div>
       <div>
           <h2>{{product.name}}</h2>
           <p>{{product.description}}</p>
           <h4>{{"{:,.1f}".format(product.price)}} VND</h4>
       </div>

  </div>
</body>
</html>